<%- include('header') %>

  <div class="container">
      <h1 class="text-center text-secondary mt-5">
          Lista de cadastro de Pessoa!
      </h1>    
      <p class="text-center text-secondary mt-5" >   
        <a class="btn btn-lg btn-custom" href="/pessoa">  <i class="fas fa-user-check me-1"></i>  Ver Pessoas </a>
      </p>
  </div>

<%- include('footer') %>