<%- include('header') %>

<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 90%;">
    <!-- Page Heading -->
    <div class="text-center">
        <h1 class="h2 text-gray-800">Sistema de Help desk</h1>
        <h1 class="h6 text-gray-800"> Controle de tarefas</h1>
    </div>

</div>
<!-- /.container-fluid -->
<%- include('footer') %>